.result-card-container {
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    padding: 43px 35px 44px 38px;
}

.result-image-container {
    padding-right: 29px;
}

.result-image-container img {
    height: 247px;
    width: 247px;
}

.result-info-container {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border: 1px solid #D9D9D9;
    padding: 8px 15px 17px 15px;
    height: 247px;
    width: 100%;
    border-radius: 8px;
}

.result-info-container h6 {
    color: #1890FF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 19px;
}

.info-list {
    width: 100%;
}

.user-info {
    border: 1px solid #D9D9D9;
    color: #737373;
    height: 40px;
    font-weight: 700;
    align-content: center;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    margin-bottom: 5px;
    line-height: 40px;
    border-radius: 4px;
}

.user-info span {
    font-weight: 400;
}

.last-user-info {
    margin-bottom: 0px;
}

/* ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

ul li {
    border: 1px solid #D9D9D9;
    color: #737373;
    height: 40px;
    font-weight: 700;
    margin-bottom: 5px;
    min-width: 500px;
    width: 100%;
}

li span {
    font-weight: 400;
} */

/* .result-info-container p {
    border: 1px solid #D9D9D9;
    height: 40px;
}

p {
    color: #737373;
}

p span {
    font-weight: 700;
} */